body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    
}

header {
    background-color: #ff3333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.cart {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.item-details {
    flex: 1;
}

.remove-button {
    background-color: #ff3333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.cart-total {
    text-align: right;
    margin-top: 20px;
}

.checkout-button {
    background-color: #ff3333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #ff3333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}