*{
    margin: 0;
    padding: 0;
}
/* navbar styling */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
}
.logo{
    border: 2px solid transparent;
    border-radius: 66%;
}
#logo{
    margin: 10px 30px;
}
#logo img {
    width: 108px;
    height: 100px;
    margin: 5px 10px;
}/* contact section */
#contact{
    position: relative;
    /* height: 300px; */
}
#contact::before{
    background: url("/bg3.jpg") no-repeat center center/cover;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
}

#navbar-c{
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
}

#navbar-c ul{
    display: flex;
    font-family: 'baloo bhai' cursive;
}
#navbar-c::before{
    background: url("/contact-nav.png") no-repeat center center/cover;
    content: "";
    background-color:black;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
}
#navbar-c ul li{
    /* word-spacing: 25px; */
    list-style: none;
    font-size: 1rem;
}
#navbar-c ul li a{
    color:rgb(12, 15, 12);
    display: block;
    padding: 5px 20px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
}
#navbar-c ul li a:hover{
    color: whitesmoke;
    background-color: rgb(12, 15, 12);
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border: 2px solid rgb(135, 100, 100);
    border-radius: 10px;
}
#contact-box form{
    width: 50%;
}

/* clients section */
#clients-section{
    /* position: relative; */
    height: 300px;
}
#clients-section::before{
    background: url("/bg2.jpg") no-repeat center center/cover;
    content: "";
    position: absolute;
    height: 42%;
    width: 100%;
    z-index: -1;
    opacity: 0.95;
}
.clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients img{
    height: 90px;
    padding: 45px;
}

footer{
    background: black;
    color: white;
    padding: 10px;
}

.center{
    text-align: center;
}

#we-do{
    color: rgb(88, 37, 37);
    font-weight: 700;
    font-size: 1.9rem;
    padding: 10px;
    padding-bottom: 20px;
}
#heading .h-about{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.we-do{
    font-size: 1.4rem;
    margin-bottom: 25px;
    font-weight: 700;
    color: rgb(12, 15, 12);
    /* text-shadow: 8px 5px 6px rgb(74, 40, 40); */
}
/* utility classes */
.h-primary{
    font-size: 2.5rem;
    padding: 10px
}
.h-secondary{
    font-size: 1.5rem;
    padding: 10px
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color:navajowhite;
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    text-emphasis: none;
}